name: ping
on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Ping OK: ${{ github.ref }} | run_id=${{ github.run_id }}"
